.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 41px;
  
}
.banner-left {
  width: 30%;
}
.banner-left h1 {
  font-weight: 700;
}
.banner-left h1 span {
  color: #7f8ffe;
}
.banner-left p {
}
.banner-left button {
  padding: 19px 28px;
  background-color: #7f8ffe;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}
.banner-right {
}
.banner-right img {
  width: 100%
}
